<div class="control-panel">
  <div *ngFor="let m of [mode$ | async]" class="text-center">
    <h1 class="inline digit">{{ day$ | async }}</h1>
    &nbsp;
    <h1 class="inline digit">{{ month$ | async }}</h1>
    &nbsp;
    <h1 class="inline digit">{{ year$ | async }}</h1>
    <br>
    <h1 class="inline digit">{{ hours$ | async }}</h1>
    <h1 class="inline">:</h1>
    <h1 class="inline digit">{{ minutes$ | async }}</h1>
  </div>
  <div class="button-panel text-center">
    <button
      class="large"
      mat-raised-button
      color="primary"
      type="button"
      (click)="onLeftButtonClicked()"
      matTooltip="Previous">
    <<
  </button>
  <button
      class="large"
      mat-raised-button
      color="primary"
      type="button"
      (click)="onSetButtonClicked()"
      matTooltip="Set">
    Set
  </button>
  <button
      class="large"
      mat-raised-button
      color="primary"
      type="button"
      (click)="onRightButtonClicked()"
      matTooltip="Next">
    >>
  </button>
  </div>
  
</div>
<div class="content-container">
  <div class="list-container">
  </div>
  <div class="detail-container">
  </div>
</div>
